<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if user.is_authenticated %} 
    Logged In as {{user.username}}

    <a href="{% url 'createtodo' %}">Create</a>
    <a href="{% url 'currentTodos' %}">current</a>
    <a href="{% url 'completedtodos' %}">completed</a>

    <form action="{% url 'logoutuser' %}" method="POST">
      {% csrf_token %} 
      <button type="submit">Logout</button>
    </form>

    {% else %}

    <a href="{% url 'signUpUser' %}">Sign Up</a>
    <a href="{% url 'loginuser' %}">Login</a>

    {% endif %}
    <br />

    {% block content %}
    {% endblock %}
  </body>
</html>
